*.mod
*.o
*genmod*
aclocal.m4
autom4te.cache/*
Makefile
Makefile.in
config.h
config.log
config.status
configure
doc/Makefile
doc/Makefile.in
src/Makefile
src/Makefile.in
src/flaps
build-aux/
external_libs/libflaps.a
external_libs/gmsh/libgmsh.a
external_libs/amos/libamos.a
external_libs/gmsh/msh2vf
doc/doxyfile.stamp
doc/doxygen.log
doc/doxygen_sqlite3.db
doc/html/
doc/latex
